h1{
  font-family: 'Schoolbell', cursive;
  }
 
header h1{
    text-align: center;
    }

h2{
text-align:center;
}
/* USE THE FOLLOWING TWO RULES FOR RESPONSIVE GOODNESS*/

div.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
    margin-left: 2em;
	} 

div.embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
	}
/*above rules are for the youtube video - for responsive goodness*/

figure {
    /*for testing background-color: yellow;  */
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 276px;
    text-align: center;
}

figcaption{
}

p.link{
        width:640px;
        margin:0 auto;
        align: center;
}

footer{
    text-align: center;
    background-color: #f96e5b;
    color: #fff;
    margin-bottom: 2em;
}

footer a{
    color: #fff;
}

footer a:hover {
    color: black;
}

/* start reCAPTCHA styles */
		
		/* writes to small text above reCAPTCHA upon failure */
		.dateFeedback{
			font-style:italic;
			font-size:70%;
			font-weight:bold;
			color:#f00;
		}
        input:required {
              border: 1px solid #f96e5b;
              margin-bottom: 2em;
        }

         input:optional, textarea:optional {
             background-color:#f1f1f1;
             border:1px solid #ccc;
        }

        input[type="submit"], input[type="button"] {
          background-color: #fff;
          border-radius: 4px;
          border: solid 1px #ccc;
          padding: 0.3em 0.5em;
        }

        fieldset {
          border: 1px solid #ccc;
          max-width: 350px;
        }

        legend {
          margin-left: 0.5em;
          padding: 0.2em 0.5em;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
        
        /* end reCAPTCHA styles */

/*RESPONSIVE STYLES*/

/*DESKTOP*/
@media all and (min-width:1280px) {
    
    html{
        background-color: #ccc;
    }
    
    body{
        width: 80%;
        margin: auto;
        background-color: white;
    /*FOR TESTING    background-color: yellow; */
    }
    
   
    section{
        width: 65.957446%;
        float: left;
        padding-bottom: 50px;
    }
    
    aside{
        float: right;
        width: 31.914893%;
       /* border-left: 1px solid black;*/
        min-height: 400px;
    }
    
    footer {
        clear:both;
    }
    
    section div, section article {
        padding: 0 2% 0 2%;
    }
        
}

/*TABLET*/
@media all and (min-width:481px) and (max-width: 1279px) {
    body{
       /*FOR TESTING background-color: deeppink; */
    }
}

/*PHONE*/
@media all and (max-width:480px) {
    body{
        /*FOR TESTING background-color: green; */
    }
}