<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css' />
    <title>Goepotatodementer's Final Project</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="python" href="../project.py"/>
    
  </head>             
<body>
    <header><!--This next section can be rearranged to your desire or to suit your website design-->
    <h1>Welcome to your journey!</h1>    
    
    </header>
<!--Begin Left Column-->
    <section>
        <h2>What is your name?</h2>
<!--Responsive YouTube Video-->
    <div class='embed-container'>
        
    </div> 
    </section>
<!--End Left Column-->
    
<!--BEGIN RIGHT COLUMN-->
    <aside>
        <table>
            <caption><h3>Your Stats and Special Items</h3></caption>
            <tr>
                <td><img src="images/heart.jpg" alt="heart health"/>&nbsp&nbspHealth</td>
            </tr>
            <tr>
                <td><img src="images/hungry.jpg" alt="hunger"/>&nbsp&nbspHunger</td>
            </tr>
            <tr>
                <td><img src="images/backpack.jpg" alt="special items"/>&nbsp&nbspSpecial Items</td>
            </tr>
        </table>

    </aside>
<!--END RIGHT COLUMN-->
    
<footer>
   <small>
   &copy; 2016, All Rights Reserved ~ Authored by Karla Haigh, Caitlin Watkins, Scott C, and Calvin Calvo  
   </small>
</footer>
</body>
</html>    