<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<section>
    <h2>Hatchet</h2>
        <p>You pick up the hatchet and realize that it was lying in a pile of what could only be the fecal matter of some bovine creature, perhaps <i>bos primigenius namadicus</i>, more commonly known as the Indian Auroch. How a heap of excrement from an extinct bovine known only to have lived in south Asia before 2000BC found its way to North America, you don't know. Maybe you're just drunk and it's merely a mass of common cow manure. In any case, it smells wretched and perhaps the hatchet should be cleaned before you carry on.</p>
        <p>There appears to be a river running along side the meadow. Should said river not be infested with flesh eating eels, it would be a great place to cleanse your newly acquired hatchet before you contract Salmonella. Alternatively, there is a mighty tasty looking mushroom at your feet, just begging to be consumed!</p>
        <p>Due to the effects of intense intoxification, your brain is only capable of processing one action at a time, and upon taking either action you will immediately forget what your other option was.</p>
        <p>How shall you proceed?</p>
        
        <p class="link"> <a href="river">Investigate the river.</a></p>
        <p class="link"><a href="mushrooms">Pick some tasty looking mushrooms.</a></p>
</section>

{% endblock %}
    
