<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %} 
<section>
    <h2>And so it begins...</h2>
        <p>As you wander into the wood you're shaking your head in disbelief...kicked out of yet another pub for involvement in a brawl....nevermind the fact that you actually started it!</p>
        <p>While lost deeply in disgust and muttering to yourself you have failed to notice that the woods have become much thicker, the undergrowth sparse, the trees very large, and very little light filtering through to the path along which you are  - <b>OOPS!</b> - tripping.</p>
        <p>You pick yourself up and dust off your nether regions, pleased to note the only damage is to your pride. You glance around and see to your right what appears to be a lovely meadow. You leave the relative safety of the path and head toward green grass and sunshine.</p>
        <p>The meadow is not large and in the center is a flat rock approximately 4 feet in diameter. On the rock are two items which could be considered valuable. The first is a pile of apples - 5 or 6 at a rough count. The other is a hatchet. Unfortunately, you are only able to carry one of these two items.</p>
        <p>Will you pick up the hatchet, or inspect the apples?</p>
        
        <p class="link"><a href="hatchet">Pick up the hatchet.</a></p>
        <p class="link"><a href="apples">Inspect the apples.</a></p>
        <img src="../static/images/intro.jpg">
</section>
{% endblock %}
    
